extends ../layout

block content 
    .container
        .content
            h2 DATOS DEL TORNEO: #{tournament.NombreTorneo}
            table.center-table
                thead
                    tr
                    th Parametro
                    th Valor
                tbody
                    tr
                    td Nombre
                    td #{tournament.NombreTorneo}
                    tr
                    td Creador
                    td #{nameCapitan}
                    tr
                    td Fecha Inicio
                    td #{tournament.FechaInicio}
                    tr
                    td Fecha termino
                    td #{tournament.FechaTermino}
                    tr
                    td Descripcion
                    td #{tournament.Descripcion}
        h2 Carrearas
        if Owner
            .buttons-container
                a.btn.btn-primary(href="/tournament/newtournament/addrace/"+tournament.TorneoID) Agregar Carrera
                a.btn.btn-primary(href="/tournament/mytournament/edit/"+tournament.TorneoID) Editar
        if !registed
            .buttons-container
                a.btn.btn-primary(href="/tournament/join/" + tournament.TorneoID) Unirse 
        .product-grid
            each el in races 
                .product
                    div
                        img(src="/img/img.jpeg", alt="img torneo 1")
                        h2 #{el.NombreTorneo}
                        p Duracion Carrera: #{el.DuracionCarrera} 
                        p Condiciones: #{el.Condiciones}
                        p Fecha: #{el.Fecha}
                    if Owner    
                        a.btn.btn-primary(href="/tournament/delete/race/" + tournament.TorneoID) Elliminar

        h2 Pilotos
        .product-grid
            each el in drivers 
                .product
                    div
                        img(src="/img/img.jpeg", alt="img torneo 1")
                        h2 #{el.NombreTorneo}
                        p Nombre del piloto : #{el.NombreUsuario} 
                    if Owner    
                        a.btn.btn-primary(href="/tournament/delete/driver/" + tournament.TorneoID) Elliminar
                        